@tailwind base;
@tailwind components;
@tailwind utilities;

/* Özel border-radius animasyonu */
@layer utilities {
    @keyframes morph-border {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
      50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
      }
      100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
    }
  
    .animate-border-morph {
      animation: morph-border 15s ease-in-out infinite;
    }
  }

/* Tailwind dışında global bir stil tanımlamak gerekiyorsa */
button {
  background-color: #ff6480;
  color: white;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}
